body {
    font-size: 15pt;
    color: #FFFFFF;
}
table {
  border-collapse: collapse;
  
}
html { 
  background: url(https://i.ibb.co/0B6Pz8s/soprano-smoking-blure.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color: #A32727
}
h2{
  color: #7E1D1D
}
p{
  color: #000000
}
a{
  color: #9D0000
}
th{
  color: #000000
}
td{
  color: #D4D4D4
}