
body{
background-image: url(https://i.ibb.co/Jk562DP/Picsart-24-03-01-15-17-12-467.jpg);


  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


  
h1{
  color: #A32727
}
h2{
  color: #7E1D1D
}
p{
  color: #000000
}
a{
  color: #9D0000
}
th{
  color: #000000
}
td{
  color: #D4D4D4
}
